.betwen
    display: flex
    gap: 10rem
    padding-top: 50px
    padding-left: 50px

.rowz
    display: flex
    flex-direction: column
    gap: 10px
    
.parag
    display: flex
    flex-direction: column
    gap: 10px

.oringe
    &:hover
        color: #fd7e14
